<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="css/index.css">
    
</head>
<body>
{{>navbar}}

<div class="register">
    <h1>this is register page</h1>

    <form action="/register" method="POST">
    
  <input placeholder="frist name" type="text" name="fristname" id="one">
  <input placeholder="lastname" type="text" name="lastname" id="two">
<input placeholder="email" type="email" name="email" id="three">
<input placeholder="phone no." type="text" name="phone" id="four">
<input placeholder="password" type="password" name="password" id="five">
<input placeholder="confirm password" type="password" name="cpassword" id="six">
<input type="submit" value="register">
    </form>
    </div>
</body>
</html>