h1{
    color:red;
}

.register{

    border:1px solid red;
  
}


.register form{  
    
    width:300px;

    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:space-between;}

    .navbar{

        border:1px solid red;
    }